html{
    font-family: IBM Plex Mono;
}
/* ===== SKILLS =====*/
.skills__container {
    row-gap: 2rem;
    text-align: center;
  }
  
  .skills__subtitle {
    margin-bottom: var(--mb-2);
  }
  
  .skills__text {
    margin-bottom: var(--mb-4);
  }
  
  .skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
    box-shadow: 0px 4px 25px rgba(190, 216, 76, 0.15);
  }
  
  .skills__icon {
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
  }
  
  .skills__names {
    display: flex;
    align-items: center;
  }
  
  .skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
  }
  
  .skills__html {
    width: 95%;
  }
  
  .skills__css {
    width: 85%;
  }
  
  .skills__js {
    width: 65%;
  }
  
  .skills__ux {
    width: 85%;
  }
  
  .skills__img {
    border-radius: .5rem;
  }
  
  /* ===== WORK =====*/
  .work__container {
    row-gap: 2rem;
  }
  
  .work__img {
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
  }
  
  .work__img img {
    transition: 1s;
  }
  
  .work__img img:hover {
    transform: scale(1.1);
  }



  /* Make sure that padding behaves as expected */
* {box-sizing:border-box}


.container{
  display: inline-block;
  font-family: "IBM Plex Mono";
  font-size: 1px;
}
 

  

/* Container for skill bars */
.container {
  max-width: 60%; 
  min-width: 25%;/* Full width */
  margin-left: 150px;
  text-align-last: center;
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Center-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #808080;} /* Green */
.css {width: 80%; background-color: #808080;} /* Blue */
.js {width: 65%; background-color: #808080;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */

.customIndent {
    padding-left: 12em;
  }



  body {
    background-color: bl;
    }
    

.animate {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  

 
